<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>Promacal - Tecidos e acessórios para decoração</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<div class="page fdbg" style="background-color: #e4ded2;">

  <section class="container main">

    <div class="row">

      <div class="sixteen columns alpha omega" style="padding-top: 50px;">

        <div class="eight columns alpha">
          <div style="padding: 30px;">
            <div style="height: 250px; padding-top: 100px; width: 100%; text-align: center; vertical-align: middle;">
              <%= link_to image_tag("promacal_entrada.png"), home_index_path %>
            </div>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis tortor aliquet, gravida metus eget, rhoncus nisi. Ut pulvinar hendrerit elit, vitae bibendum libero facilisis ac. Aliquam ultrices iaculis turpis ac interdum. Fusce ut justo facilisis justo fermentum rhoncus sit amet eu turpis. Donec ut ornare tellus. Cras porta massa quis eros rutrum consequat. Sed semper ullamcorper fringilla. Mauris sollicitudin enim ut augue bibendum porttitor. Vestibulum convallis ligula non leo condimentum, in rutrum nisl sollicitudin. Aenean porta ipsum a odio vulputate, at semper ligula sagittis. Fusce porta turpis metus, vitae fermentum massa condimentum quis. Mauris sed hendrerit sem. Aenean at auctor elit. Fusce ullamcorper arcu non fringilla dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean nec nulla nec sapien ullamcorper sagittis ac nec libero.</p>
          </div>
        </div>

        <div class="eight columns omega">
          <div style="padding: 30px;">
            <div style="height: 350px; width: 100%; text-align: center; vertical-align: middle;">
              <%= link_to image_tag("exclusive_entrada.png"), exclusive_path %>
            </div>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis tortor aliquet, gravida metus eget, rhoncus nisi. Ut pulvinar hendrerit elit, vitae bibendum libero facilisis ac. Aliquam ultrices iaculis turpis ac interdum. Fusce ut justo facilisis justo fermentum rhoncus sit amet eu turpis. Donec ut ornare tellus. Cras porta massa quis eros rutrum consequat. Sed semper ullamcorper fringilla. Mauris sollicitudin enim ut augue bibendum porttitor. Vestibulum convallis ligula non leo condimentum, in rutrum nisl sollicitudin. Aenean porta ipsum a odio vulputate, at semper ligula sagittis. Fusce porta turpis metus, vitae fermentum massa condimentum quis. Mauris sed hendrerit sem. Aenean at auctor elit. Fusce ullamcorper arcu non fringilla dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean nec nulla nec sapien ullamcorper sagittis ac nec libero.</p>
          </div>
        </div>

      </div>

    </div>

  </section>

</div>
</body>
</html>