<section class="footerz">
  <div class="container clearfix">
    <hr class="gold-line" />
  </div>
  
  <div class="container">
    <div class="eight columns alpha">
      <a href="https://www.facebook.com/pages/Promacal/402183269831908">
        <%= image_tag "face_blue.jpg" %>
      </a>
    </div>
    <div class="eight columns omega">
      <a href="https://www.facebook.com/Promacalexclusive?hc_location=timeline">
        <%= image_tag "face_black.jpg" %>
      </a>
    </div>
  </div>

  <div class="footer-menu">
    <div class="container">
      <div class="copyright six columns">
        Copyright © 2013 Promacal. Todos os direitos reservados
      </div>

      <div class="submenu ten columns">
        <%= link_to "Home", home_index_path %>
        <%= link_to "A Empresa", empresa_path %>
        <%= link_to "Produtos", produtos_path %>
        <%= link_to "Exclusive", exclusive_path %>
        <%= link_to "Notícias", noticias_path %>
        <%= link_to "Contato", contato_path %>
      </div>
    </div>
  </div>
</section>