<div class="band header">
  <header class="container">
    <div class="sixteen columns">
      <div class="logo">
        <h1 id="logo">Promacal</h1>
      </div>
      <div class="sublogo">
        <%= image_tag "sublogo.png" %>
      </div>
      <nav class="navbar">
        <ul class="nav">
          <li><%= link_to "Home", home_index_path %></li>
          <li><%= link_to "A Empresa", empresa_path %></li>
          <li><%= link_to "Produtos", produtos_path %></li>
          <li><%= link_to "Exclusive", exclusive_path %></li>
          <li><%= link_to "Notícias", noticias_path %></li>
          <li><%= link_to "Contato", contato_path %></li>
        </ul>
      </nav>
    </div>
  </header>
</div>