<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>Promacal - Tecidos e acessórios para decoração</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->

</head>
<body>
<div class="page">

  <%= render "layouts/header" %>

  <hr class="hr" />

  <% [notice, alert].each do |f| %>
    <% unless f.blank? %>
      <div class="container">
        <p class="alert"><%= notice || alert %></p>
      </div>
    <% end %>
  <% end %>

  <div class="band body">
    <%= yield %>
  </div>

  <div class="container">
    <div class="row">
      <hr class="gold-line" />
    </div>
  </div>

  <%= render "layouts/footer" %>

</div>
</body>
</html>